<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- Experimental stuff -->

    <!-- This is a context init parameter -->
    <context-param>
        <param-name>email</param-name>
        <param-value>andreros@gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>datasource</param-name>
        <param-value>file.txt</param-value>
    </context-param>

    <listener>
        <listener-class>com.opencmis.experimental.ImplServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.opencmis.experimental.ImplServletContextAttributeListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.opencmis.experimental.HelloWorldServlet</servlet-class>
        <!-- This is a servlet init parameter -->
        <init-param>
            <param-name>name</param-name>
            <param-value>Hello World Servlet by André Rosa</param-value>
        </init-param>
        <!--
            load-on-startup > 0 value means that servlet is instantiated and executed at container startup.
            load-on-startup = 0 value means that servlet is instantiated and executed when a request comes to that servlet.
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!-- CMIS -->

    <!-- Listeners -->
    <listener>
        <listener-class>org.apache.chemistry.opencmis.server.impl.CmisRepositoryContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

    <!-- CMIS Web Service v1.0 (WSDL) -->
    <servlet>
        <servlet-name>cmisws10</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cmisws10</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <!-- CMIS ATOM v1.0 -->
    <servlet>
        <servlet-name>cmisatom10</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cmisatom10</servlet-name>
        <url-pattern>/atom/*</url-pattern>
    </servlet-mapping>

    <!-- CMIS Web Service v1.1 (WSDL) -->
    <servlet>
        <servlet-name>cmisws11</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.webservices.CmisWebServicesServlet</servlet-class>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cmisws11</servlet-name>
        <url-pattern>/services11/*</url-pattern>
    </servlet-mapping>

    <!-- CMIS ATOM v1.1 -->
    <servlet>
        <servlet-name>cmisatom11</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <init-param>
            <param-name>cmisVersion</param-name>
            <param-value>1.1</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cmisatom11</servlet-name>
        <url-pattern>/atom11/*</url-pattern>
    </servlet-mapping>

    <!-- CMIS JSON v1.1 -->
    <servlet>
        <servlet-name>cmisbrowser</servlet-name>
        <servlet-class>org.apache.chemistry.opencmis.server.impl.browser.CmisBrowserBindingServlet</servlet-class>
        <init-param>
            <param-name>callContextHandler</param-name>
            <param-value>org.apache.chemistry.opencmis.server.shared.BasicAuthCallContextHandler</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cmisbrowser</servlet-name>
        <url-pattern>/browser/*</url-pattern>
    </servlet-mapping>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>